img[is="ats-img"] {
  opacity: 0;
  transform: scale(0.9) translateY(3rem);
  transition-duration: 500ms;
  transition-property: opacity transform;
  transition-timing-function: cubic-bezier(0, 0.75, 0.15, 1);
}

img[is="ats-img"][intersecting] {
  opacity: 1;
  transform: scale(1) translateY(0);
}
