:host {
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: floating;
  animation-timing-function: ease-out;
  cursor: pointer;
  display: inline-flex;
  position: absolute;
  z-index: 2;
}

:host([theme="dark"]) #label {
  color: var(--gray-ff);
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

#anchor {
  display: inline-flex;
  position: relative;
}

#icon {
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.25));
  height: 3rem;
  width: 3rem;
}

#label {
  color: var(--gray-4a);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  word-break: keep-all;
}

@keyframes floating {
  from {
    opacity: 0.6;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.05);
  }
}
