:host {
  align-items: center;
  display: grid;
  justify-items: center;
  overflow: hidden;
  padding: 0 6rem;
}

#prev {
  grid-column: 1;
  grid-row: 1;
  justify-self: flex-start;
  z-index: 2;
}

#next {
  grid-column: 1;
  grid-row: 1;
  justify-self: flex-end;
  z-index: 2;
}
