:host {
  align-items: center;
  display: grid;
  justify-items: center;
  overflow: hidden;
  padding: 0 6rem;
}

button {
  align-items: center;
  background-color: var(--gray-ff);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  color: var(--gray-22);
  cursor: pointer;
  display: flex;
  grid-column: 1;
  grid-row: 1;
  height: 4rem;
  justify-content: center;
  justify-self: flex-start;
  padding: 0;
  transition-duration: 125ms;
  transition-property: box-shadow, transform;
  width: 4rem;
  z-index: 2;
}

button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.25);
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

#prev {
  justify-self: flex-start;
  margin-left: 0.5rem;
}

#prev:hover {
  transform: scale(1.1);
}

#prev:active {
  transform: scale(1.05);
}

#next {
  justify-self: flex-end;
  margin-right: 0.5rem;
}

#next:hover {
  transform: scale(1.1);
}

#next:active {
  transform: scale(1.05);
}
