#section-1 {
  display: grid;
  justify-items: center;
  overflow: hidden;
  position: relative;
}

#section-1 > * {
  grid-column: 1;
  grid-row: 1;
}

#section-1-bg-far {
  width: 100%;
}

#section-1-bg-close {
  width: 100%;
}

#section-1-personnage {
  align-self: end;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

#section-2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  margin-bottom: 3rem;
}

#section-2-a {
  align-items: center;
  background: linear-gradient(0deg, var(--green-28) 0%, var(--green-13) 100%);
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 6rem;
}

#section-2-a-title {
  color: var(--gray-ff);
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

#section-2-a-subtitle {
  color: var(--yellow-d8);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  text-transform: uppercase;
}

#section-2-a-img {
  max-width: 32rem;
  width: 100%;
}

#section-2-b {
  align-items: center;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-column: 1;
  grid-row: 3;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 3rem;
}

#section-2-b-title {
  color: var(--gray-44);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}

#section-2-b-img {
  max-width: 16rem;
  width: 100%;
}

#section-2-c {
  align-content: center;
  align-items: center;
  background: url(./section-2-c.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 1;
  grid-gap: 1rem;
  grid-row: 4;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-2-c-title {
  color: var(--gray-ff);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-2-d {
  align-content: center;
  align-items: center;
  background: url(./section-2-d.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 2;
  grid-gap: 1rem;
  grid-row: 3 / span 2;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-2-d-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-3 {
  margin-bottom: 3rem;
}

#section-4 {
  align-items: center;
  background-color: var(--gray-ff);
  border-color: var(--gray-ff);
  display: grid;
  justify-items: flex-start;
  position: relative;
}

#section-4-bgs {
  grid-column: 1;
  grid-row: 1;
}

#section-4-bg {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.section-4-bg {
  display: block;
  width: 100%;
}

#section-4-content {
  grid-column: 1;
  grid-row: 1;
}

#section-4-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  line-height: 1.25;
  margin: 0 0 1rem 0;
  max-width: 25rem;
  text-transform: uppercase;
}

#section-4-p {
  color: var(--gray-fa);
  font-size: 1.25rem;
  max-width: 25rem;
  width: 100%;
}

#section-5-container {
  background-color: var(--gray-f7);
}

#section-5 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  overflow: hidden;
  padding: 3rem 0;
}

#section-5-a {
  align-items: center;
  background: linear-gradient(0deg, var(--green-28) 0%, var(--green-13) 100%);
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 6rem;
  position: relative;
}

#section-5-a-1-img {
  bottom: 0;
  left: 0;
  position: absolute;
}

#section-5-a-2-img {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

#section-5-a-title {
  color: var(--gray-ff);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 3rem 0;
  text-transform: uppercase;
}

#section-5-a-subtitle {
  color: var(--yellow-d8);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  text-transform: uppercase;
}

#section-5-a-img {
  max-width: 32rem;
  width: 100%;
}

#section-5-b {
  align-content: center;
  align-items: center;
  background: url(./section-5-b.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 1;
  grid-gap: 1rem;
  grid-row: 3 / span 2;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-5-b-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-5-c {
  align-items: center;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-column: 2;
  grid-gap: 1rem;
  grid-row: 3;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 3rem;
}

#section-5-c-title {
  color: var(--gray-44);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}

#section-5-c-img {
  max-width: 16rem;
  width: 100%;
}

#section-5-d {
  align-content: center;
  align-items: center;
  background: url(./section-5-d.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 2;
  grid-gap: 1rem;
  grid-row: 4;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-5-d-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-5-e {
  background-image: url(./section-5-e.jpeg);
  grid-row: 7;
}

#section-6-container {
  background-color: var(--gray-f7);
}

#section-6 {
  align-items: center;
  background-color: var(--gray-f7);
  display: grid;
  justify-items: end;
  position: relative;
}

#section-6-bgs {
  grid-column: 1;
  grid-row: 1;
}

#section-6-bg {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.section-6-bg {
  display: block;
  width: 100%;
}

#section-6-content-wrapper {
  grid-column: 1;
  grid-row: 1;
}

#section-6-content {
  align-items: center;
  display: grid;
  justify-items: end;
}

#section-6-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  line-height: 1.25;
  margin: 0 0 1rem 0;
  max-width: 25rem;
  text-transform: uppercase;
}

#section-6-p {
  color: var(--gray-fa);
  font-size: 1.25rem;
  max-width: 25rem;
  text-align: justify;
  width: 100%;
}

#section-7 {
  align-items: center;
  background-color: var(--gray-ff);
  display: grid;
  grid-auto-flow: column;
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
  grid-template-columns: minmax(0, 1fr) min-content;
  justify-items: center;
  padding: 5rem 0;
}

#section-7-desc {
  color: var(--gray-44);
  display: grid;
  font-size: 1.25rem;
  grid-row-gap: 1.5rem;
  justify-items: center;
  line-height: 1.1;
  padding: 4rem 8rem;
}

#section-7-desc strong {
  text-transform: uppercase;
}

#section-7-desc p {
  margin: 0;
}

#section-7-img {
  display: block;
  height: 100%;
}

@media screen and (max-width: 100em) {
  .title {
    font-size: 2.5rem;
    padding-top: 2.5rem;
  }

  .button {
    font-size: 1rem;
    padding: 0.5rem 2.25rem;
  }

  #section-4-title {
    font-size: 2rem;
  }

  #section-5 {
    padding: 4rem 0;
  }

  #section-7-title {
    font-size: 2.75rem;
    margin: 17.5rem 0;
  }

  #section-8 {
    padding: 4rem 0;
  }

  #section-8-title {
    font-size: 2.5rem;
  }

  .section-9-image {
    height: 10rem;
  }
}

@media (max-width: 72em) {
  /* md */
}

@media (max-width: 56em) {
  /* sm */

  #section-2,
  #section-5 {
    grid-template-columns: minmax(0, 1fr);
  }

  #section-2-a,
  #section-2-b,
  #section-2-c,
  #section-2-d,
  #section-2-e,
  #section-5-a,
  #section-5-b,
  #section-5-c,
  #section-5-d,
  #section-5-e {
    grid-column: 1;
    grid-row: inherit;
  }

  #section-7 {
    display: block;
  }

  #section-7-img {
    height: inherit;
    width: 100%;
  }
}

@media (max-width: 31em) {
  /* xs */

  #section-1-personnage {
    display: none;
  }

  #section-2-d-conditions {
    left: inherit;
    right: 0.5rem;
  }

  #section-2,
  #section-3 {
    margin: 1rem 0;
  }

  #section-3 {
    padding: 0;
  }

  #section-2-a,
  #section-2-b,
  #section-2-c,
  #section-2-d,
  #section-5-a,
  #section-5-b,
  #section-5-c,
  #section-5-d,
  #section-7-desc {
    padding: 1rem;
  }

  [id$="-title"],
  [id$="-subtitle"],
  [id$="-p"] {
    font-size: 1rem !important;
    margin: 0.5rem 0;
    max-width: inherit !important;
  }

  #section-2-a-title,
  #section-5-a-title {
    justify-self: start;
    margin: 0 0 0 1rem;
  }

  #section-5-a-1-img {
    display: none;
  }

  #section-5-e-desc {
    font-size: 1rem;
  }

  #section-5,
  #section-7,
  #section-8,
  #section-9 {
    padding: 1rem 0;
  }

  ats-contact-link {
    display: none;
  }
}
