:host {
  background-color: var(--gray-22);
  color: var(--gray-ff);
  display: block;
  padding: 6rem 0 18rem 0;
  position: relative;
}

ats-container {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  justify-items: center;
}

#logo {
  width: 14rem;
}

.column {
  display: flex;
  flex-direction: column;
}

#right {
  text-align: right;
}

#signature {
  background-color: var(--gray-00);
  bottom: 0;
  color: var(--gray-66);
  font-size: 0.8rem;
  left: 0;
  padding: 0.5rem 0;
  position: absolute;
  right: 0;
  text-align: center;
}

#signature a {
  color: var(--gray-66);
  transition: color 125ms;
}

#signature a:hover {
  color: var(--gray-ff);
}

#socials {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  justify-content: start;
  margin: 0.5rem 0;
}

#socials img {
  height: 2rem;
  width: 2rem;
}

@media (max-width: 100em) {
  /* lg */
}

@media (max-width: 72em) {
  /* md */
}

@media (max-width: 56em) {
  /* sm */

  :host {
    padding: 1rem 0;
  }

  ats-container {
    grid-auto-flow: row;
    grid-row-gap: 2rem;
  }

  #right,
  #left {
    text-align: center;
  }
}

@media (max-width: 31em) {
  /* xs */
}
