:root {
  --blue-25: #253f62;
  --gray-00: #000000;
  --gray-22: #222222;
  --gray-44: #444444;
  --gray-58: #58595b;
  --gray-66: #666666;
  --gray-cc: #cccccc;
  --gray-bb: #bbbbbb;
  --gray-f4: #f4f4f4;
  --gray-f7: #f7f7f7;
  --gray-fc: #fcfcfc;
  --gray-ff: #ffffff;
  --green-42: #427b10;
  --red-7c: #7c210f;
  --yellow-d8: #d8b520;
  --yellow-c4: #c49b0e;
  --yellow-fd: #fdf9e9;

  --font-family: "Poppins", sans-serif;
  --font-family-alt: "Lato", sans-serif;

  --media-lg: 100em;
  --media-md: 72em;
  --media-sm: 56em;
  --media-xs: 31em;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

label {
  color: var(--gray-44);
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  width: 100%;
}

.title {
  color: var(--gray-44);
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  color: var(--yellow-d8);
  font-size: 1.1rem;
  margin: -0.5rem 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.button {
  align-items: center;
  background-color: var(--yellow-d8);
  border: none;
  border-radius: 4rem;
  color: var(--gray-ff);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-alt);
  font-size: 1.25rem;
  font-weight: 900;
  justify-content: center;
  padding: 0.6rem 2.5rem;
  text-transform: uppercase;
}

.button:focus {
  outline: none;
}

.button img {
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.white-board {
  background-color: var(--gray-ff);
  position: relative;
}

#section-1-bg {
  display: block;
}

#section-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

#section-2-a {
  background-color: var(--gray-f4);
  display: grid;
  grid-template-rows: auto repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 2rem;
}

#section-2-a-phone {
  align-items: center;
  color: var(--gray-44);
  display: grid;
  flex-direction: column;
  grid-auto-flow: row;
  grid-row-gap: 0.5rem;
  justify-items: center;
  text-decoration: none;
  transition: 125ms color linear;
}

#section-2-a-phone:hover {
  color: var(--yellow-d8);
}

#section-2-a-phone-icon {
  align-self: end;
  width: 4rem;
}

#section-2-a-phone-label {
  align-self: start;
  font-size: 1.2rem;
  font-weight: bold;
}

#section-2-a-email {
  align-items: center;
  color: var(--gray-44);
  display: grid;
  flex-direction: column;
  grid-auto-flow: row;
  grid-row-gap: 0.5rem;
  justify-items: center;
  text-decoration: none;
  transition: 125ms color linear;
}

#section-2-a-email:hover {
  color: var(--yellow-d8);
}

#section-2-a-email-icon {
  align-self: end;
  height: 4rem;
  transform: translateX(-15%);
}

#section-2-a-email-label {
  align-self: start;
  font-size: 1.2rem;
  font-weight: bold;
}

#section-2-b {
  background-color: var(--gray-ff);
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 2rem;
}

.section-2-b-input {
  background-color: var(--gray-fc);
  border: 1px solid var(--gray-bb);
  border-radius: 0.15rem;
  box-sizing: border-box;
  max-width: inherit;
  min-width: inherit;
  padding: 0.6rem;
  resize: none;
  width: 100%;
}

#section-2-b-title {
  color: var(--gray-44);
  display: block;
  font-weight: bold;
  grid-column: 1 / span 2;
  justify-self: start;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

#section-2-b-comment {
  grid-column: 1 / span 2;
}

#section-2-b-categories {
  align-items: start;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-column: 1 / span 2;
  justify-items: center;
  text-align: center;
}

#section-2-b-categories label {
  font-size: 1rem;
}

.section-2-b-check {
  cursor: pointer;
  display: grid;
  justify-items: center;
  user-select: none;
}

.section-2-b-check > img {
  grid-column: 1;
  grid-row: 1;
  height: 6rem;
  pointer-events: none;
  transform: translateX(-10%);
  width: 6rem;
}

.section-2-b-check > input {
  border: none;
  grid-column: 1;
  grid-row: 1;
  height: 0;
  width: 0;
}

.section-2-b-check > img[class$="-on"] {
  z-index: 1;
}

.section-2-b-check > input + img {
  display: none;
}

.section-2-b-check > input:checked + img {
  display: block;
}

#section-2-b-submit {
  grid-column: 1 / span 2;
  margin: 2rem 0 0 0;
}

#section-3 {
  height: 32rem;
}

#section-4 {
  padding: 5rem 0;
}

#section-4-stepper {
  background-color: var(--yellow-fd);
}

#section-5-bg {
  display: block;
  width: 100%;
}

#section-6 {
  padding: 6rem 0;
}

#section-6 ats-contact-link {
  display: block;
}

#section-6-title {
  color: var(--gray-44);
  font-size: 1.25rem;
  margin: 0 0 1rem 2rem;
  text-transform: uppercase;
}

#section-6-title > strong {
  color: var(--yellow-d8);
}

#section-6-p {
  color: var(--gray-44);
  font-size: 1rem;
  margin: 0 0 2rem 0;
}

#section-6-trombi {
  background-color: var(--gray-22);
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.section-6-trombi-card {
  background-color: var(--gray-ff);
  padding: 1rem 0;
}

.section-6-trombi-card-content {
  background-color: var(--gray-ff);
  padding: 0 1rem;
  text-align: center;
}

.section-6-trombi-card:not(:nth-of-type(3n)) > .section-6-trombi-card-content {
  border-right: 1px solid var(--gray-22);
}

.section-6-trombi-card:not(:nth-of-type(3n + 1)) > .section-6-trombi-card-content {
  border-left: 1px solid var(--gray-22);
}

.section-6-trombi-card-img {
  overflow: hidden;
}

.section-6-trombi-card-img:hover > img {
  transform: scale(1.1);
}

.section-6-trombi-card-img > img {
  display: block;
  transition: 250ms transform;
  width: 100%;
}

.section-6-trombi-card-content > strong {
  display: block;
  padding: 0.5rem 0 1.5rem 0;
}

@media (max-width: 100em) {
  /* lg */
}

@media (max-width: 72em) {
  /* md */
}

@media (max-width: 56em) {
  /* sm */

  #section-2 {
    grid-template-columns: minmax(0, 1fr);
  }

  #section-6-trombi {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media (max-width: 31em) {
  /* xs */
}
