:host {
  background-color: var(--gray-f4);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--gray-44);
  grid-column: 1 / span 2;
  padding: 8rem 3rem 2rem 3rem;
}

#title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
}

ats-contact-link {
  display: block;
}
