@media screen and (max-width: 100em) {
  .title {
    font-size: 2.5rem;
    padding-top: 2.5rem;
  }

  .button {
    font-size: 1rem;
    padding: 0.5rem 2.25rem;
  }

  #section-4-title {
    font-size: 2rem;
  }

  #section-5 {
    padding: 4rem 0;
  }

  #section-7-title {
    font-size: 2.75rem;
    margin: 17.5rem 0;
  }

  #section-8 {
    padding: 4rem 0;
  }

  #section-8-title {
    font-size: 2.5rem;
  }

  .section-9-image {
    height: 10rem;
  }
}
