:root {
  --blue-25: #253f62;
  --gray-00: #000000;
  --gray-22: #222222;
  --gray-44: #444444;
  --gray-58: #58595b;
  --gray-66: #666666;
  --gray-cc: #cccccc;
  --gray-bb: #bbbbbb;
  --gray-99: #999999;
  --gray-f4: #f4f4f4;
  --gray-f7: #f7f7f7;
  --gray-fc: #fcfcfc;
  --gray-ff: #ffffff;
  --green-42: #427b10;
  --red-7c: #7c210f;
  --yellow-d8: #d8b520;
  --yellow-c4: #c49b0e;
  --yellow-fd: #fdf9e9;

  --font-family: "Poppins", sans-serif;
  --font-family-alt: "Lato", sans-serif;

  --media-lg: 100em;
  --media-md: 72em;
  --media-sm: 56em;
  --media-xs: 31em;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

label {
  color: var(--gray-44);
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  width: 100%;
}

.title {
  color: var(--gray-44);
  font-size: 1.25rem;
  margin: 0 0 1rem 2rem;
  text-transform: uppercase;
}

.title > strong {
  color: var(--yellow-d8);
}

.contact-link {
  align-items: center;
  background-color: var(--yellow-d8);
  border: none;
  border-radius: 4rem;
  color: var(--gray-ff);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-alt);
  font-size: 1.25rem;
  font-weight: 900;
  justify-content: center;
  padding: 0.75rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-link:focus {
  outline: none;
}

.contact-link img {
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.white-board {
  background-color: var(--gray-ff);
  position: relative;
}

#section-1-bg {
  display: block;
}

#section-2 {
  align-items: center;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  justify-items: center;
  padding: 3rem 0;
}

#section-2-title {
  color: var(--gray-44);
  font-size: 2rem;
}

.section-2-p {
  color: var(--gray-44);
  font-size: 1rem;
}

#section-2-carousel {
  background-color: var(--gray-f4);
  padding: 1rem;
}

#section-3 {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 32rem;
  grid-row-gap: 0.5rem;
  margin-bottom: 3rem;
}

.section-3-item {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
}

.section-3-item-content {
  display: grid;
  grid-row-gap: 0.5rem;
  justify-items: center;
  padding: 0 5rem;
}

.section-3-item-content h3 {
  color: var(--gray-ff);
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
}

.section-3-item-content p {
  color: var(--gray-ff);
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  text-align: justify;
}

.section-3-item:nth-of-type(2n + 1) .section-3-item-content {
  grid-column: 2;
}

#section-3-a {
  background: url(./section-3-a-bg.jpeg) no-repeat center center / cover;
}

#section-3-b {
  background: url(./section-3-b-bg.jpeg) no-repeat center center / cover;
}

#section-3-c {
  background: url(./section-3-c-bg.jpeg) no-repeat center center / cover;
}

#section-3-d {
  background: url(./section-3-d-bg.jpeg) no-repeat center center / cover;
}

#section-4 {
  background-color: var(--gray-f4);
  padding: 3rem 4rem 5rem 4rem;
  text-align: center;
}

#section-4 > h3 {
  margin: 0 0 2rem 0;
}

#section-4-imgs {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  grid-template-rows: 12rem min-content;
  justify-items: center;
}

#section-4-imgs img {
  height: 12rem;
}

#section-4-imgs span {
  color: var(--gray-44);
  font-size: 1rem;
  line-height: 1.3;
}

#section-5 {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  margin-bottom: 3rem;
}

#section-5 ats-carousel {
  padding: 0;
}

#section-5-content {
  align-items: center;
  background-color: var(--gray-22);
  color: var(--gray-ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-5-image {
  display: block;
}

#section-5-content h3 {
  color: var(--gray-99);
  margin: 1rem 0 0 0;
}

#section-5-content p {
  color: var(--gray-99);
  max-width: 25rem;
  text-align: justify;
}

#section-5-btn-icon {
  width: inherit;
}

#section-6 {
  padding: 6rem 0;
}

#section-6-p {
  color: var(--gray-44);
  font-size: 1rem;
  margin: 0 0 2rem 0;
}

#section-6-trombi {
  background-color: var(--gray-22);
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.section-6-trombi-card {
  background-color: var(--gray-ff);
  padding: 1rem 0;
}

.section-6-trombi-card-content {
  background-color: var(--gray-ff);
  padding: 0 1rem;
  text-align: center;
}

.section-6-trombi-card:not(:nth-of-type(3n)) > .section-6-trombi-card-content {
  border-right: 1px solid var(--gray-22);
}

.section-6-trombi-card:not(:nth-of-type(3n + 1)) > .section-6-trombi-card-content {
  border-left: 1px solid var(--gray-22);
}

.section-6-trombi-card-img {
  overflow: hidden;
}

.section-6-trombi-card-img:hover > img {
  transform: scale(1.1);
}

.section-6-trombi-card-img > img {
  display: block;
  transition: 250ms transform;
  width: 100%;
}

.section-6-trombi-card-content > strong {
  display: block;
  font-size: 1.25rem;
  padding: 1rem 0;
}

.section-6-trombi-card-content > p {
  font-size: 1rem;
  margin: 0;
  text-align: left;
}

@media (max-width: 100em) {
  /* lg */
}

@media (max-width: 72em) {
  /* md */
}

@media (max-width: 56em) {
  /* sm */

  #section-2 {
    grid-auto-flow: row;
    padding: 1rem 0;
  }

  .section-3-item {
    grid-template-columns: minmax(0, 1fr);
  }

  #section-4-imgs {
    grid-auto-flow: row;
    padding: 1rem;
  }

  #section-5 {
    grid-auto-flow: row;
  }

  #section-5-content {
    padding: 1rem 0;
  }

  #section-6-trombi {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media (max-width: 31em) {
  /* xs */
}
