@import "leaflet/dist/leaflet.css";

:host {
  display: block;
  overflow: hidden;
  position: relative;
}

#map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
