:host {
  display: inline-block;
  text-align: center;
}

a {
  background-color: var(--yellow-d8);
  border: none;
  border-radius: 4rem;
  color: var(--gray-ff);
  cursor: pointer;
  display: block;
  font-family: Noto Sans JP, sans-serif;
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 1s;
  transition-property: transform, background;
  transition-timing-function: cubic-bezier(0, 0.75, 0.25, 1);
}

a:focus {
  outline: none;
}

a:hover {
  background-color: var(--yellow-c4);
  transform: scale(1.03);
}

a:active {
  transform: scale(1);
  transition-duration: 0ms;
}

#cta-basic {
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  padding: 0.5rem 1.25rem;
}

#cta-complete {
  align-items: center;
  display: inline-grid;
  grid-column: 1 / 1;
  grid-column-gap: 0.5rem;
  grid-row: 1 / 1;
  grid-template-columns: 1.5rem auto minmax(0, 1fr);
  justify-items: center;
  padding: 0.25rem 1rem;
  position: relative;
}

#label {
  font-size: 0.675rem;
  font-weight: bold;
  line-height: 1.3;
  text-align: left;
}

#phone {
  font-size: 1.5rem;
}
