:root {
  --gray-00: #000000;
  --gray-22: #222222;
  --gray-44: #444444;
  --blue-10: #101e32;
  --blue-25: #253f62;
  --blue-31: #313f56;
  --gray-4a: #4a4a4a;
  --gray-66: #666666;
  --gray-cc: #cccccc;
  --gray-f4: #f4f4f4;
  --gray-f7: #f7f7f7;
  --gray-fa: #fafafa;
  --green-42: #427b10;
  --red-7c: #7c210f;
  --gray-ff: #ffffff;
  --yellow-d8: #d8b520;
  --yellow-c4: #c49b0e;

  --font-family: "Poppins", sans-serif;
  --font-family-alt: "Lato", sans-serif;

  --media-lg: 100em;
  --media-md: 72em;
  --media-sm: 56em;
  --media-xs: 31em;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

.title {
  background-color: var(--gray-ff);
  font-size: 3rem;
  margin: 0;
  padding: 3rem 0 1rem 0;
  position: relative;
  text-align: center;
}

.title strong {
  color: var(--yellow-d8);
}

.button {
  align-items: center;
  background-color: var(--yellow-d8);
  border: none;
  border-radius: 4rem;
  color: var(--gray-ff);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-alt);
  font-size: 1.25rem;
  font-weight: 900;
  justify-content: center;
  padding: 0.6rem 2.5rem;
  text-transform: uppercase;
}

.button:focus {
  outline: none;
}

.button img {
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

#section-1 {
  display: grid;
  justify-items: center;
  overflow: hidden;
  position: relative;
}

#section-1 > * {
  grid-column: 1;
  grid-row: 1;
}

#section-1-bg-far {
  width: 100%;
}

#section-1-bg-close {
  width: 100%;
}

#section-1-personnage {
  align-self: end;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

#section-2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  margin-bottom: 3rem;
}

#section-2-a {
  align-items: center;
  background: linear-gradient(0deg, var(--blue-31) 0%, var(--blue-10) 100%);
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 6rem;
}

#section-2-a-title {
  color: var(--gray-ff);
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

#section-2-a-subtitle {
  color: var(--yellow-d8);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  text-transform: uppercase;
}

#section-2-a-img {
  max-width: 32rem;
  width: 100%;
}

#section-2-b {
  align-items: center;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-column: 1;
  grid-row: 3;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 3rem;
}

#section-2-b-title {
  color: var(--gray-44);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}

#section-2-b-img {
  max-width: 16rem;
  width: 100%;
}

#section-2-c {
  align-content: center;
  align-items: center;
  background: url(./section-2-c.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 1;
  grid-gap: 1rem;
  grid-row: 4;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-2-c-title {
  color: var(--gray-ff);
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-2-d {
  align-content: center;
  align-items: center;
  background: url(./section-2-d.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 2;
  grid-gap: 1rem;
  grid-row: 3 / span 2;
  justify-items: flex-start;
  padding: 1rem 3rem;
  position: relative;
}

#section-2-d-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-2-d-conditions {
  bottom: 0.5rem;
  color: var(--gray-ff);
  font-size: 0.75rem;
  left: 0.5rem;
  position: absolute;
}

#section-3 {
  margin-bottom: 3rem;
}

#section-4 {
  align-items: center;
  background-color: var(--gray-ff);
  border-color: var(--gray-ff);
  display: grid;
  justify-items: flex-start;
  position: relative;
}

#section-4-bgs {
  grid-column: 1;
  grid-row: 1;
}

#section-4-bg {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.section-4-bg {
  display: block;
  width: 100%;
}

#section-4-content {
  grid-column: 1;
  grid-row: 1;
}

#section-4-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  line-height: 1.25;
  margin: 0 0 1rem 0;
  max-width: 25rem;
  text-transform: uppercase;
}

#section-4-p {
  color: var(--gray-fa);
  font-size: 1.25rem;
  max-width: 25rem;
  width: 100%;
}

#section-5-container {
  background-color: var(--gray-f7);
}

#section-5 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  padding: 3rem 0;
}

#section-5-a {
  align-items: center;
  background: linear-gradient(0deg, var(--blue-31) 0%, var(--blue-10) 100%);
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 6rem;
  position: relative;
}

#section-5-a-1-img {
  bottom: 0;
  left: 0;
  position: absolute;
}

#section-5-a-2-img {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

#section-5-a-title {
  color: var(--gray-ff);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 3rem 0;
  text-transform: uppercase;
}

#section-5-a-subtitle {
  color: var(--yellow-d8);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  text-transform: uppercase;
}

#section-5-a-img {
  max-width: 32rem;
  width: 100%;
}

#section-5-b {
  align-content: center;
  align-items: center;
  background: url(./section-5-b.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 1;
  grid-gap: 1rem;
  grid-row: 3 / span 2;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-5-b-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-5-c {
  align-items: center;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-column: 2;
  grid-gap: 1rem;
  grid-row: 3;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 3rem;
}

#section-5-c-title {
  color: var(--gray-44);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}

#section-5-c-img {
  max-width: 16rem;
  width: 100%;
}

#section-5-d {
  align-content: center;
  align-items: center;
  background: url(./section-5-d.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 2;
  grid-gap: 1rem;
  grid-row: 4;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-5-d-title {
  color: var(--gray-ff);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-5-e {
  align-items: center;
  background-color: var(--gray-ff);
  display: grid;
  grid-auto-flow: column;
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
  grid-template-columns: minmax(0, 1fr) min-content;
  justify-items: center;
}

#section-5-e-desc {
  color: var(--gray-44);
  display: grid;
  font-size: 1.25rem;
  grid-row-gap: 1.5rem;
  justify-items: center;
  line-height: 1.1;
  padding: 4rem 8rem;
}

#section-5-e-desc strong {
  text-transform: uppercase;
}

#section-5-e-desc p {
  margin: 0;
}

#section-5-e-img {
  display: block;
  height: 100%;
}

#section-6 {
  align-items: center;
  background-color: var(--gray-ff);
  border-color: var(--gray-ff);
  display: grid;
  justify-items: flex-start;
  position: relative;
}

#section-6-bgs {
  grid-column: 1;
  grid-row: 1;
}

#section-6-bg {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.section-6-bg {
  display: block;
  width: 100%;
}

#section-6-content {
  grid-column: 1;
  grid-row: 1;
}

#section-6-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  line-height: 1.25;
  margin: 0 0 1rem 0;
  max-width: 25rem;
  text-transform: uppercase;
}

#section-6-p {
  color: var(--gray-fa);
  font-size: 1.25rem;
  max-width: 25rem;
  width: 100%;
}

#section-7-container {
  background-color: var(--gray-f7);
}

#section-7 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, auto) repeat(2, minmax(0, 1fr));
  padding: 3rem 0;
}

#section-7-a {
  align-items: center;
  background: linear-gradient(0deg, var(--blue-31) 0%, var(--blue-10) 100%);
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
}

#section-7-a-title {
  color: var(--gray-ff);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 2rem;
  max-width: 50%;
  text-transform: uppercase;
}

#section-7-a-img {
  justify-self: end;
  width: 100%;
}

#section-7-b {
  align-items: center;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-column: 1;
  grid-row: 3;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 3rem;
}

#section-7-b-title {
  color: var(--gray-44);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}

#section-7-b-img {
  max-width: 16rem;
  width: 100%;
}

#section-7-c {
  align-content: center;
  align-items: center;
  background: url(./section-7-c.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 1;
  grid-gap: 1rem;
  grid-row: 4;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-7-c-title {
  color: var(--gray-ff);
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-7-d {
  align-content: center;
  align-items: center;
  background: url(./section-7-d.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 2;
  grid-gap: 1rem;
  grid-row: 3 / span 2;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-7-d-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-8-container {
  background-color: var(--gray-f7);
}

#section-8 {
  align-items: center;
  background-color: var(--gray-f7);
  display: grid;
  justify-items: flex-start;
  position: relative;
}

#section-8-bg {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

#section-8-content {
  grid-column: 1;
  grid-row: 1;
}

#section-8-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  line-height: 1.25;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

#section-8-title > span {
  margin-left: 4rem;
}

#section-9-container {
  background-color: var(--gray-f7);
}

#section-9 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  padding: 3rem 0;
}

#section-9-a {
  align-items: center;
  background: linear-gradient(0deg, var(--blue-31) 0%, var(--blue-10) 100%);
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
}

#section-9-a-title {
  color: var(--gray-ff);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 5rem 5rem 0;
  text-transform: uppercase;
}

#section-9-a-img {
  justify-self: end;
  width: 100%;
}

#section-9-a-subtitle {
  color: var(--yellow-d8);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  text-transform: uppercase;
}

#section-9-b {
  align-content: center;
  align-items: center;
  background: url(./section-9-b.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 1;
  grid-gap: 1rem;
  grid-row: 3 / span 2;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-9-b-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-9-c {
  align-items: center;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.3);
  display: grid;
  grid-column: 2;
  grid-gap: 1rem;
  grid-row: 3;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  padding: 1rem 3rem;
}

#section-9-c-title {
  color: var(--gray-44);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}

#section-9-c-img {
  max-width: 16rem;
  width: 100%;
}

#section-9-d {
  align-content: center;
  align-items: center;
  background: url(./section-9-d.jpeg) center center no-repeat;
  background-size: cover;
  display: grid;
  grid-column: 2;
  grid-gap: 1rem;
  grid-row: 4;
  justify-items: flex-start;
  padding: 1rem 3rem;
}

#section-9-d-title {
  color: var(--gray-ff);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

#section-9-img {
  margin-right: 6rem;
}

@media screen and (max-width: 100em) {
  /* lg */

  .title {
    font-size: 2.5rem;
    padding-top: 2.5rem;
  }

  .button {
    font-size: 1rem;
    padding: 0.5rem 2.25rem;
  }

  #section-4-title {
    font-size: 2rem;
  }

  #section-5 {
    padding: 4rem 0;
  }

  #section-7-title {
    font-size: 2.75rem;
    margin: 17.5rem 0;
  }

  #section-8 {
    padding: 4rem 0;
  }

  #section-8-title {
    font-size: 2.5rem;
  }

  .section-9-image {
    height: 10rem;
  }
}

@media (max-width: 72em) {
  /* md */
}

@media (max-width: 56em) {
  /* sm */

  #section-2,
  #section-5,
  #section-7,
  #section-9 {
    grid-template-columns: minmax(0, 1fr);
  }

  #section-2-a,
  #section-2-b,
  #section-2-c,
  #section-2-d,
  #section-2-e,
  #section-5-a,
  #section-5-b,
  #section-5-c,
  #section-5-d,
  #section-5-e,
  #section-7-a,
  #section-7-b,
  #section-7-c,
  #section-7-d,
  #section-7-e,
  #section-9-a,
  #section-9-b,
  #section-9-c,
  #section-9-d,
  #section-9-e {
    grid-column: 1;
    grid-row: inherit;
  }

  #section-5-e {
    display: block;
  }

  #section-5-e-img {
    height: inherit;
    width: 100%;
  }

  #section-9-a {
    overflow: hidden;
  }
}

@media (max-width: 31em) {
  /* xs */
}
