:host {
  border: 0 solid var(--gray-f7);
  border-top: none;
  display: block;
}

[name="animated-content"]::slotted(*) {
  opacity: 0;
  transform: translateY(5rem);
  transition-duration: 500ms;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
}
