:host {
  background-color: var(--gray-f4);
  display: block;
  padding: 2rem 5rem;
  position: relative;
}

#border {
  left: 1rem;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  width: 10rem;
}

#title {
  color: var(--gray-44);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

#imgs {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  grid-template-rows: 10rem min-content;
  justify-items: center;
}

.img {
  height: 10rem;
}

.label {
  color: var(--gray-44);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

ats-contact-link {
  display: block;
}

@media screen and (max-width: 100em) {
  /* lg */
}

@media (max-width: 72em) {
  /* md */
}

@media (max-width: 56em) {
  /* sm */

  #border {
    display: none;
  }

  #imgs {
    grid-auto-flow: row;
    grid-column-gap: 1rem;
    grid-template-rows: inherit;
  }
}

@media (max-width: 31em) {
  /* xs */
}
