:host {
  background-color: var(--gray-22);
  color: var(--gray-cc);
  display: block;
  padding: 3rem 0;
  position: relative;
}

#container {
  align-items: center;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr) min-content;
  justify-items: center;
}

@keyframes spin {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
}

#image {
  animation: spin cubic-bezier(0, 0.8, 1, 0.2) 4s infinite;
  grid-column: 1;
  grid-row: 1;
  height: 200px;
  width: 200px;
}

#alt {
  font-size: 1.5rem;
  grid-column: 1;
  grid-row: 2;
}

#title {
  font-size: 2rem;
  grid-column: 2;
  grid-row: 1 / span 2;
  line-height: 1.25;
  margin: 0;
}

@media (max-width: 100em) {
  /* lg */

  :host {
    padding: 2.5rem;
  }

  #image {
    height: 175px;
    width: 175px;
  }

  #title {
    font-size: 1.75rem;
  }
}

@media (max-width: 72em) {
  /* md */

  :host {
    padding: 1.5rem;
  }

  #container {
    grid-auto-flow: row;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: inherit;
  }

  #img {
    grid-column: 1;
    grid-row: 1;
  }

  #alt {
    font-size: 1.25rem;
    grid-column: 1;
    grid-row: 2;
  }

  #title {
    font-size: 1.5rem;
    grid-column: 1;
    grid-row: 3;
    text-align: center;
  }
}

@media (max-width: 56em) {
  /* sm */
}

@media (max-width: 31em) {
  /* xs */

  :host {
    padding: 1rem;
  }

  #title,
  #alt {
    font-size: 1rem;
  }
}
