:host {
  background-color: transparent;
  display: grid;
  height: 8rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 150ms linear;
  z-index: 3;
}

:host [data-theme="dark"] {
  display: none;
}

:host([sticky]) [data-theme="dark"],
:host(:hover) [data-theme="dark"] {
  display: inline-flex;
}

:host([sticky]) [data-theme="light"],
:host(:hover) [data-theme="light"] {
  display: none;
}

:host([sticky]),
:host(:hover) {
  background-color: var(--gray-ff);
}

:host([sticky]) a,
:host([sticky]) button,
:host(:hover) a,
:host(:hover) button {
  color: var(--gray-22);
}

:host([sticky]) a::after,
:host([sticky]) button::after,
:host(:hover) a::after,
:host(:hover) button::after {
  background-color: var(--gray-22);
}

ats-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr) max-content;
  padding: 1rem 0;
}

.logo-link {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.logo {
  height: 6rem;
}

nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

nav a,
nav button {
  background: none;
  border: none;
  color: var(--gray-ff);
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 900;
  margin: 0 1.5rem;
  padding: 1rem 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 150ms linear;
}

nav a::after,
nav button::after {
  background-color: var(--gray-ff);
  border-radius: 4rem;
  bottom: 0;
  content: "";
  height: 0.25rem;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition-duration: 150ms, 500ms, 500ms;
  transition-property: background-color, width, opacity;
  transition-timing-function: linear, cubic-bezier(0, 0.75, 0.25, 1), cubic-bezier(0, 0.75, 0.25, 1);
  width: 0;
}

nav a:hover::after,
nav button:hover::after {
  opacity: 1;
  width: 100%;
}

nav button:focus {
  outline: none;
}

#subnav {
  background-color: var(--gray-22);
  display: flex;
  height: 14rem;
  opacity: 1;
  pointer-events: all;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: linear;
}

#subnav[hidden] {
  opacity: 0;
  pointer-events: none;
}

#subnav-container {
  align-items: center;
  align-self: center;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  grid-template: minmax(0, 1fr) / repeat(4, minmax(0, 1fr));
  justify-items: center;
  text-align: center;
}

.subnav-link:hover .subnav-label {
  text-decoration: underline;
}

.subnav-label {
  color: var(--gray-ff);
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

@media (max-width: 100em) {
  /* lg */

  :host {
    height: 7rem;
  }

  ats-container {
    padding: 0.5rem 0;
  }

  a {
    font-size: 0.9rem;
  }
}

@media (max-width: 72em) {
  /* md */
}

@media (max-width: 56em) {
  /* sm */

  :host {
    height: 5rem;
  }

  ats-container {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
  }

  .logo-link {
    display: none !important;
  }

  ats-button-contact {
    display: none !important;
  }
}

@media (max-width: 31em) {
  /* xs */
}
