:host {
  display: flex;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  opacity: 0;
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: linear;
}

:host([visible]) {
  opacity: 1;
}
