:host {
  display: flex;
}

:host(:hover) #fast-scroller {
  animation-play-state: running;
}

#frame {
  display: flex;
  overflow-x: hidden;
}

#fast-scroller {
  animation: scroll 30s linear infinite;
  animation-play-state: paused;
  display: flex;
}

#slow-scroller {
  animation: scroll 120s linear infinite;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 3rem;
  transition: animation-duration 200ms;
  width: auto;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
